.section-3 {
    background: #4556C1;
    height: 100vh;
    position: relative;
    color: #fff;
    font-family: 'Panton SemiBold';
}

.health-img {
    margin-top: 50px;
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-item {}

.green {
    color: #40FF13;
}

.green:last-child {
    cursor: pointer;
}

.red {
    color: #f90303;
}