@font-face {
font-family: 'Panton';
font-style: normal;
font-weight: normal;
src: local('Panton'), url('Panton-Regular.woff') format('woff');
}
@font-face {
font-family: 'Panton Italic';
font-style: normal;
font-weight: normal;
src: local('Panton Italic'), url('Panton-Italic.woff') format('woff');
}


@font-face {
font-family: 'Panton Bold';
font-style: normal;
font-weight: normal;
src: local('Panton Bold'), url('Panton-Bold.woff') format('woff');
}


@font-face {
font-family: 'Panton Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Panton Bold Italic'), url('Panton-BoldItalic.woff') format('woff');
}

@font-face {
font-family: 'Panton  Thin';
font-style: normal;
font-weight: normal;
src: local('Panton  Thin'), url('Panton-Thin.woff') format('woff');
}


@font-face {
font-family: 'Panton  ExtraLight';
font-style: normal;
font-weight: normal;
src: local('Panton  ExtraLight'), url('Panton-ExtraLight.woff') format('woff');
}


@font-face {
font-family: 'Panton  Light';
font-style: normal;
font-weight: normal;
src: local('Panton  Light'), url('Panton-Light.woff') format('woff');
}


@font-face {
font-family: 'Panton  SemiBold';
font-style: normal;
font-weight: normal;
src: local('Panton  SemiBold'), url('Panton-SemiBold.woff') format('woff');
}


@font-face {
font-family: 'Panton  ExtraBold';
font-style: normal;
font-weight: normal;
src: local('Panton  ExtraBold'), url('Panton-ExtraBold.woff') format('woff');
}


@font-face {
font-family: 'Panton  Black';
font-style: normal;
font-weight: normal;
src: local('Panton  Black'), url('Panton-Black.woff') format('woff');
}


@font-face {
font-family: 'Panton  ExtraBlack';
font-style: normal;
font-weight: normal;
src: local('Panton  ExtraBlack'), url('Panton-ExtraBlack.woff') format('woff');
}


@font-face {
font-family: 'Panton  Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Panton  Thin Italic'), url('Panton-ThinItalic.woff') format('woff');
}


@font-face {
font-family: 'Panton  ExtraLight Italic';
font-style: normal;
font-weight: normal;
src: local('Panton  ExtraLight Italic'), url('Panton-ExtraLightItalic.woff') format('woff');
}


@font-face {
font-family: 'Panton  Light Italic';
font-style: normal;
font-weight: normal;
src: local('Panton  Light Italic'), url('Panton-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'Panton  SemiBold Italic';
font-style: normal;
font-weight: normal;
src: local('Panton  SemiBold Italic'), url('Panton-SemiBoldItalic.woff') format('woff');
}

@font-face {
font-family: 'Panton  ExtraBold Italic';
font-style: normal;
font-weight: normal;
src: local('Panton  ExtraBold Italic'), url('Panton-ExtraBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Panton  Black Italic';
font-style: normal;
font-weight: normal;
src: local('Panton  Black Italic'), url('Panton-BlackItalic.woff') format('woff');
}


@font-face {
font-family: 'Panton  ExtraBlack Italic';
font-style: normal;
font-weight: normal;
src: local('Panton  ExtraBlack Italic'), url('Panton-ExtraBlackItalic.woff') format('woff');
}