*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 40px;
  text-align: center;
}
a {
  text-decoration: none;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-item {
  width: 32vw;
  height: 25vh;
  background: rgb(7, 156, 214);
  position: relative;
  transition: all 0.5s ease;
}
.projects-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.projects-isready {
  color: #27c022;
}
.projects-isready.not {
  color: #fa3200;
}
.projects-item_title {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
