@font-face {
    font-family: 'CirceRounded-Light';
    font-display: block;
    src: url('fonts/CirceRounded-Light.eot');
    src: url('fonts/CirceRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-Thin';
    font-display: block;
    src: url('fonts/CirceRounded-Thin.eot');
    src: url('fonts/CirceRounded-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'CirceRounded-Bold';
    font-display: block;
    src: url('fonts/CirceRounded-Bold.eot');
    src: url('fonts/CirceRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-ExtraBold';
    font-display: block;
    src: url('fonts/CirceRounded-ExtraBold.eot');
    src: url('fonts/CirceRounded-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-Regular';
    font-display: block;
    src: url('fonts/CirceRounded-Regular.eot');
    src: url('fonts/CirceRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}