@font-face {
    font-family: 'CirceRounded-ExtraLight';
    src: url('fonts/CirceRounded-ExtraLight.eot');
    src: url('fonts/CirceRounded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-AltBold';
    src: url('fonts/CirceRounded-AltBold.eot');
    src: url('fonts/CirceRounded-AltBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-AltBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-Light';
    src: url('fonts/CirceRounded-Light.eot');
    src: url('fonts/CirceRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-Thin';
    src: url('fonts/CirceRounded-Thin.eot');
    src: url('fonts/CirceRounded-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-AltExtraBold';
    src: url('fonts/CirceRounded-AltExtraBold.eot');
    src: url('fonts/CirceRounded-AltExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-AltExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-Bold';
    src: url('fonts/CirceRounded-Bold.eot');
    src: url('fonts/CirceRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-ExtraBold';
    src: url('fonts/CirceRounded-ExtraBold.eot');
    src: url('fonts/CirceRounded-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirceRounded-Regular';
    src: url('fonts/CirceRounded-Regular.eot');
    src: url('fonts/CirceRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}