@media only screen and (min-width: 1800px){
    .logo img:nth-child(3) {
        width: 50px;
        height: 50px;
        right: 195px;
        top: 5px;
    }

    .logo img:nth-child(2) {
        width: 90px;
        height: 83px;
        right: 115px;
        top: 5px;
    }

    .logo img:nth-child(1) {
        width: 101px;
        height: 109px;
    }

    .header-img {
    width: 64%;
    right: 80px;
    bottom: 40px;
}
    .header-num {
        bottom: 100px;
    }

    .header-num span {
        font-size: 190px;
    }

    .header-title {
        font-size: 85px;
        top: 43%;
    }

    .upperhead {
        padding-top: 7%;
    }

    .menu {
        font-size: 21px;
        padding-right: 3%;
    }

    /* section 1 */
    .section-img img {
        width: 130%;
    }

    .section-content {
        margin-top: 200px;
    }

    .section-text {
        position: relative;
        margin-left: 300px;
        margin-top: 20px;
        width: 42%;
    }

    .section-text-title {
        font-size: 45px;
    }

    .section-text-p {
        margin-top: 50px;
        font-size: 25px;
    }

    .section-2birds img:nth-child(1) {
        width: 375px;
        height: 394px;
        bottom: -30px;
        right: 300px;
    }

    .section-2birds img:nth-child(2) {
        width: 365px;
        height: 346px;
        bottom: -120px;
        right: 700px;
    }

    .study1 img {
        width: 140%;
    }

    .study2 {
        width: 130%;
    }
    .sport {
    width: 605px;
    height: 300px;
    margin-top: -100px;
}

    .sport img {
        width: 160%;
    }

    .meditation {
        width: 90%;
    }
}

@media only screen and (min-width: 1630px) and (max-height: 900px) {
    .header-img {
        width: 67%;
        right: 50px;
        bottom: 50px;
    }

    .header-num {
        bottom: 100px;
    }

    .header-num span {
        font-size: 190px;
    }

    .header-title {
        font-size: 80px;
        top: 43%;
    }

    .upperhead {
        padding-top: 7%;
    }

    .menu {
        font-size: 19px;
    }


    .section-img img {
        width: 110%;
    }

    .section-content {
        margin-top: 200px;
    }

    .section-text {
        position: relative;
    	margin-left: 300px;
   		margin-top: 20px;
    	width: 42%;

    }

    .section-text-title {
        font-size: 40px;
    }

    .section-text-p {
        margin-top: 40px;
        font-size: 22px;
    }


    .study1 img {
        width: 130%;
    }

    .study2 {
        width: 120%;
    }

    .sport img {
        margin-top: -50px;
        width: 145%;
    }

    .meditation {
        width: 80%;
    }
}

@media only screen and (max-width: 1500px) {
    .header-img {
        width: 66%;
    }

    .header-title {
        font-size: 70px;
        top: 43%;
    }
	.scrollup {
		right: 100px;
	}
	.section-content {
        margin-top: 100px;
    }
    .upperhead {
        padding-top: 7%;
    }

    .menu {
        font-size: 17px;
    }

    .section-text {
        margin-left: 90px;
    }
}


@media only screen and (max-width: 1400px) {
    .header-img {
        width: 62%;
    }

    .header-title {
        font-size: 60px;
        top: 40%;
    }

    .upperhead {
        padding-top: 7%;
    }

    .menu {
        font-size: 15px;
    }

    .header-num {
        bottom: 10px;
    }

    .header-num span {
        font-size: 150px;
    }


    .section-img img {
        width: 100%;
    }

    .section-content {
        margin-top: 80px;
    }

    .section-text {
    margin-left: 50px;
    margin-top: 10px;
	}

    .section-text-title {
        font-size: 30px;
    }

    .section-text-p {
        margin-top: 40px;
        font-size: 18px;
    }

    .section-2birds img:nth-child(1) {
        width: 175px;
        height: 214px;
        bottom: -40px;
        right: 300px;
    }

    .section-2birds img:nth-child(2) {
        width: 165px;
        height: 146px;
        bottom: -70px;
        right: 500px;
    }

    .study1 img {
        width: 90%;
    }

    .study2 {
        width: 90%;
        top: 80px;
        left: 30px;
    }


    .sport img {
        margin-top: -40px;
        width: 115%;
    }

    .meditation {
        width: 70%;
        top: 120px;
    }
}

@media only screen and (max-width: 1300px) {
    .header-img {
        width: 64%;
    }
    .section-img img {
    width: 90%;
}
.sport img {
	    width: 120%;
}
	.study2 {
    width: 120%;
    top: 80px;
    left: 30px;
}
}