.section-2 {
    background: #4556C1;
    height: 100vh;
    position: relative;
    color: #fff;
    font-family: 'Panton SemiBold';
}

.study1 {
    margin-top: -50px;
}

.study1 img {
    width: 110%;
}

.study2 {
    position: absolute;
    top: 50px;
    left: 0;
}