.section-4 {
    background: #4556C1;
    height: 100vh;
    position: relative;
    color: #fff;
    font-family: 'Panton SemiBold';
}

.sport {
    width: 605px;
    height: 300px;
    margin-top: -50px;
}

.meditation {
    position: absolute;
    left: 0;
    top: 50px;
    animation: yoga 3s linear infinite;
}
.health-img {
    width:600px;
}
.scrollup {
    width: 80px;
    text-align: center;
    font-size: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 80px;
    background-color: #FFD312;
    position: absolute;
    bottom: 0;
    right: 150px;
    cursor: pointer;
    color: #333;
}

@keyframes yoga {
    0% {
        transform: translate(0);
    }

    30% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}