@import url('header.css');
@import url('section-1.css');
@import url('section-2.css');
@import url('section-3.css');
@import url('section-4.css');
@import url('media.css');

/* fonts */
@import url(../fonts/Panton/panton.css);

@font-face {
    font-family: "Segoe UI";
    src: url(../fonts/SegoeUI.ttf);
}


*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease;
    user-select: none;
}

img {
    pointer-events: none;

}

p {
    text-align: left;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
}

.disable-hover,
.disable-hover * {
    pointer-events: none !important;
    animation: none !important;
}

@media only screen and (min-width: 1700px) {
    .container {
        max-width: 1700px;
    }
}

@media only screen and (max-width: 1700px) {
    .container {
        max-width: 1450px;
    }
}

@media only screen and (max-width: 1650px) {
    .container {
        max-width: 1400px;
    }
}

@media only screen and (max-width: 1500px) {
    .container {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        max-width: 1150px;
    }
}