* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.menu {
  position: relative;
}
.menu li {
  position: relative;
  list-style: none;
}
.menu-link {
  margin: 10px 0;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.1);
}
.menu-link::before {
  content: attr(data-link);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(./wave.png);
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: repeat-x;
  animation: wave 1s linear infinite;
  opacity: 0;
  transition: opacity 0.5s;
}
.menu-link:hover::before,
.menu-link:focus::before {
  opacity: 1;
}
@keyframes wave {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 200px;
  }
}
@media screen and (max-width: 576px) {
  .menu-link {
    font-size: 40px;
  }
}
